#toplistbaronly {font-family: arial; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333333;}

li#toplistbaronly {float: left;}


li#toplistbaronly a {display: block; color: white; text-align: center; padding: 16px; text-decoration: none;}

li#toplistbaronly a:hover {background-color: #111111;}



#toplistbaronlyicon {font-family: arial; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333333;}

li#toplistbaronlyicon {float: right;}

li#toplistbaronlyicon a {display: block; color: white; text-align: right; padding: 16px; text-decoration: none;}

li#toplistbaronlyicon a:hover {background-color: #111111;}




<!--li#printiconmenu a {display: block; color: white; text-align: center; padding: 16px; text-decoration: none;}-->
<!--li#printiconmenu {text-align: right} -->

<!--li#printiconmenu a:hover {background-color: #111111;}-->

<!--li#printiconjustifiedright a {display: block; color: white; text-align: center; padding: 16px; text-decoration: none;}-->
<!-- li#printiconjustifiedright {text-align: right} -->

<!--li#printiconjustifiedright a:hover {background-color: #111111;}-->


<--! Horizantal list code sourced from w3schools.com at https://www.w3schools.com/html/html_lists.asp -->

<!--.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}



header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
</style>
</head>
<body>

<div class="flex-container">
<header>
  <h1>City Gallery</h1>
</header>




</div>
-->